{{define "footer"}}

{{template "MainContainerDown" .}}  

<div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
                <span class="bigger-120">
                    <span class="blue bolder">Gin Admin</span>
                    Application &copy; 2019
                </span>

                &nbsp; &nbsp;
                <span class="action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>
                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                    </a>
                    <a href="#">
                        <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

</body>
</html>


<script src="/static/assets/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/static/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/jquery-ui.custom.min.js"></script>
<script src="/static/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/static/assets/js/jquery.easypiechart.min.js"></script>
<script src="/static/assets/js/jquery.sparkline.index.min.js"></script>
<script src="/static/assets/js/jquery.flot.min.js"></script>
<script src="/static/assets/js/jquery.flot.pie.min.js"></script>
<script src="/static/assets/js/jquery.flot.resize.min.js"></script>

<!-- ace scripts -->
<script src="/static/assets/js/ace-elements.min.js"></script>
<script src="/static/assets/js/ace.min.js"></script>

{{end}}

